<div class="new-comedian-block">
  <h2>Add a new comic to the list!</h2>
  <form id="new-comedian-form" method="POST">
    <input type="text" name="comedian[name]" placeholder="Name of Comic"/><br />
    <input type="text" name="comedian[birth_location]" placeholder="Home State"/><br />
    <input type="text" name="comedian[birthday]" placeholder="Birthday" /><br />
    <input type="text" name="comedian[image_url]" placeholder="Image URL" /><br />
    <input class="submit" type="submit" value="Submit" />
  </form>
</div>
